@charset "UTF-8";
/* CSS Document */
h1{
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
	color: crimson;
	font-size: 4em;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 10vh; /* Full viewport height */
}

	

body {
	background-color: #C2D1FF;
	font-size:100%;
	line-height: 1.6em;
	font-family: Georgia, serif;
	}
dd {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 2.8em;
	line-height: 1.6em;
}

dt{ font-family: "Bangers", serif;
  font-weight: 400;
  font-style: normal;
	font-size: 3em;
	display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 10vh; /* Full viewport height */

	
}
